<!--
    Govno designed by fet1sov
    github.com/dxAugust
    youtube.com/c/fet1sov
-->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- `<title>${userData.username} — FETNET</title>` %>

    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">

    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../css/profile.css" rel="stylesheet" />

    <%- `<meta property="og:title" content="FETNET — ${userData.username}"/>` %>
    <%- `<meta property="og:image" content="https://fetnet.us.to/api/user/avatar/${userData.id}"/>` %>
    <%- `<meta property="og:description" content="${userData.mood}"/>` %>
    <meta name="theme-color" content="#38b000">

    <script src="../../js/main.js"></script>
    <script src="../../js/profile.js"></script>

    <script src="../../js/utils.js"></script>

    <link rel="icon" href="favicon.ico" />
</head>
<body>
    <div id="preloader" class="loader">
        <video width="200" height="200" loop autoplay muted id="videoId">
            <source src="../img/loader.mp4" type="video/mp4">
        </video>
        <div class="loader-text">Загрузка</div>
    </div>

    <nav id="main_nav">
        <ul class="main-nav">
            <a class="logotype" href="../../">
                <img width="64px" height="64px" class="logotype-button" src="../../img/logotype.png">
            </a>

            <li>
                <div class="searchBox">
                    <input id="searchInput" class="searchInput" type="search" name="" placeholder="Поиск...">
                    <button id="searchButton" class="searchButton" href="#">
                      <img src="../../img/icons/icon-search.svg" width="32px" height="32px">
                    </button>
                </div>
            </li>

            <li class="user-menu" id="profile-item-section">
                <div class="button">
                    <a id="btn-join" class="btn-join effect01">
                      <span>Войти</span>
                    </a>
                </div>
            </li>
        </ul>

        <form class="login-form" id="loginForm">
            <div class="form-title">Авторизация</div>
            <input class="loginInput user-icon" type="text" id="loginInput" placeholder="Логин" required>
            <input class="loginInput pass-icon" type="password" id="passwordInput" placeholder="Пароль" required>
            
            <div class="login-form-error">
                <img src="../../img/icons/icon-warning.svg" width="32" height="32">
                <div class="login-form-error-text">ТЕСТОВАЯ ОШИБКА</div>
            </div>

            <div class="buttonBlock">
                <button class="loginButton">
                    Войти
                </button>
            </div>

            <div class="buttonBlock">
                <a class="labelButton" id="registerButton">
                    Ещё не смешарик? Зарегаться
                </a>
            </div>
        </form>

        <form class="register-form" id="registerForm">
            <div class="form-title">Регистрация</div>
            <input class="loginInput user-icon" type="text" id="registerLoginInput" placeholder="Логин" required>
            <input class="loginInput email-icon" type="email" id="registerEmailInput" placeholder="Почта" required>
            <input class="loginInput pass-icon" type="password" id="registerPasswordInput" placeholder="Пароль" required>
            
            <div class="form-terms">
                <input type="checkbox" id="terms" required>
                <a href="../legal/term">Принимаю условия</a>
            </div>

            <div class="buttonBlock">
                <button class="loginButton">
                    Зарегаться
                </button>
            </div>

            <div class="buttonBlock">
                <a class="labelButton" id="loginButton">
                    Уже бывал здесь? Залогинься
                </a>
            </div>
        </form>

        <div class="profile-menu" id="profileMenu">
            <ul>
                <li class="profileButton" id="userButton">
                    <img class="smaller-icon" src="../../img/icons/icon-square-user.svg">
                    Профиль
                </li>

                <li class="user-profile-menu-item" id="postButtonMenu">
                    <img class="smaller-icon" src="../../img/icons/icon-feather.svg">
                    Запостить
                </li>

                <li class="profileButton" id="settingsButton">
                    <img class="smaller-icon" src="../../img/icons/icon-settings.svg">
                    Настройки
                </li>
                <li class="profileButton logoutButton" id="logoutButton">
                    <img class="small-icon" src="../../img/icons/icon-turnoff.svg">
                    Выйти
                </li>
            </ul>
        </div>
    </nav>

    <div class="main-page">
        <div class="profile-container" id="profileContainer">
            <%- `<div><img class="profile-pic" id="profilePic" src="../../api/user/avatar/${userData.id}"></div>` %>
            <div class="profile-title">
                <%- `<div class="profile-name-title ${JSON.parse(userData.name_color) ? JSON.parse(userData.name_color).effect : "none"}" id="profileName" style="color: ${JSON.parse(userData.name_color) ? JSON.parse(userData.name_color).color : "#FFFFFF"}">${userData.username}</div>` %>
                <!--<img class="profile-country" id="profileCountry" src="../../img/flags/">-->
                <%- `<div class="online-status" id="onlineStatus"><span id="lastOnline" class="online-tooltip">lastonline</span></div>` %>
            </div>
            <%- `<div class="profile-mood" id="profileMood">${userData.mood}</div>` %>

            <% if(typeof banData != "undefined") { %>
                <%- `<div class="profile-ban-status" id="profileBanStatus">` %>
                    <%- `<img width="25" height="25" src="../../img/icons/icon-danger.svg">` %>
                    <%- `Дней с последней блокировки: ${banData.lastBanDays}` %>
                <%- `</div>` %>
            <% } %>
            

            <div class="followers-amount-block">
                <div class="profile-followers-amount">
                    <div id="profileFollowersCount">0</div>
                    <div class="profile-followers-title">кентов</div>
                </div>

                <div id="profileButtonFollow" class="profile-follow-button follow">
                    <span>
                        <img id="profileImgFollow" width="20" height="20" src="../../img/icons/icon-heart.svg">
                    </span>
                </div>
            </div>
        </div>

        <% if (typeof postData != "undefined") { %>
        <ul id="postsList" class="post-list">
            <% let months = ['Января','Февраля','Марта','Апреля','Мая','Июня','Июля','Августа','Сентября','Октября','Ноября','Декабря']; %>
            <% for (let i = 0; i < postData.posts.length; i++) { %>
                <% let postDate = new Date(postData.posts[i].timestamp); %>
                <% let nowDate = new Date(Date.now()); %>
                <% let viewsAmount = 0; %>
                <%- `<li class="post-list-item" data-id="${i}"><div class="post-profile-block"><img class="small-profile-picture" src="../api/user/avatar/${userData.id}"><div class="post-profile-name ${JSON.parse(userData.name_color) ? JSON.parse(userData.name_color).effect : "none"}" style="color: ${JSON.parse(userData.name_color) ? JSON.parse(userData.name_color).color : "FFFFFF"}">${userData.username}</div><time class="post-timestamp">${postDate.getDate()} ${months[postDate.getMonth()]} ${postDate.getFullYear() == nowDate.getFullYear() ? "" : postDate.getFullYear()}</time></div><div class="post-profile-text">${postData.posts[i].post_body}</div> <div class="post-info-block"> <div class="eye-block"><div class="eye-icon"><img src="../img/icons/postbox/icon-views.svg"></div></div> ${postData.posts[i].views.length} </div> </li>` %>
            <% } %>
        </ul>
        <% } %>

        <% if (typeof adminData != "undefined") { %>
            <%- `<div class="info-container" style="margin-top: 30px">` %>
                <%- `<div class="info-block">` %>
                    <%- `<div style="padding: 5%;">` %>
                        <%- `<div class="stats-row"><div><div class="stats-title">Регистрационный IP-адрес:</div>${adminData.registerIP}</div></div>` %>
                        <%- `<div class="stats-row"><div><div class="stats-title">Дата регистрации:</div>${adminData.regDate}</div></div>` %>
                        <%- `<div class="stats-row"><div><div class="stats-title">Место регистрации:</div><div class="stats-block"><img src="../../img/flags/${adminData.place.country}.svg" width="32" height="32" style="margin-right: 5px"> ${adminData.place.city}, ${adminData.place.country}</div></div></div>` %>
                    <%- `</div>` %>

                    <%- `<div style="padding: 5%;">` %>
                        <%- `<ul>` %>
                            <%- `<div class="stats-title">Список аккаунтов (${adminData.accounts.length}):</div>` %>
                            <% adminData.accounts.forEach(function(account){ %>
                                <%- `<li><a style="text-align: left; color: ${JSON.parse(account.name_color) ? JSON.parse(account.name_color).color : "#FFFFFF"}; padding: 10px 0 0 10px; display: flex; align-items: center;" href="../u/${account.name}"><img class="small-profile-picture" style="width: 32px; height: 32px; margin-right: 5px;" src="../../api/user/avatar/${account.id}">${account.name}</a></li>` %>
                            <% }); %>
                        <%- `</ul>` %>
                    <%- `</div>` %>
                <%- `</div>` %>

                <%- `<div class="info-block">` %>
                    <%- `<div style="padding: 5%;">` %>
                        <%- `<button id="admin-menu" class="red-button">Заблокировать</button>` %>
                    <%- `</div>` %>
                <%- `</div>` %>
            <%- `</div>` %>
        <% } %>
    </div>

</body>
</html>